In [44]:
import pandas as pd

In [45]:
cursos_curricula = pd.read_excel('../data/Curricula.xlsx')

In [46]:
cursos_curricula.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COD_LINEA_NEGOCIO     553 non-null    object
 1   COD_PRODUCTO          553 non-null    int64
 2   DESC_PRODUCTO         553 non-null    object
 3   COD_CURRICULO         553 non-null    int64
 4   DESC_CURRICULO        553 non-null    object
 5   COD_CURSO             553 non-null    object
 6   DESC_CURSO            553 non-null    object
 7   DESC_ABRE_CURSO       553 non-null    object
 8   clave                 553 non-null    object
 9   COD_DIRECCION         553 non-null    object
 10  NOM_DIRECCION         553 non-null    object
 11  COD_CURSO_ELEC        553 non-null    object
 12  CICLO                 553 non-null    int64
 13  CANT_CREDITOS         553 non-null    int64
 14  CANT_CREDEQUIV        553 non-null    int64
 15  FECHA_CREACION        553 non-null    datetime64[ns]
 16  USUARIO_CREACION      553 non-null    object
 17  FECHA_MODIFICACION    206 non-null    datetime64[ns]
 18  USUARIO_MODIFICACION  174 non-null    object
 19  TOTAL CRED            553 non-null    int64
 20  REQUISITO             235 non-null    object
 21  REQUISITO PYTHON      141 non-null    object
 22  Ruta Critica          0 non-null      float64
dtypes: datetime64[ns](2), float64(1), int64(6), object(14)
memory usage: 99.5+ KB

In [47]:
cursos_curricula['COD_CURRICULO'].value_counts()

45    123
43    123
44    112
41    112
42     83
Name: COD_CURRICULO, dtype: int64

Malla 44 y 45 estan vigentes

In [48]:
cursos_curricula[cursos_curricula['COD_CURRICULO'] == 45]

,COD_LINEA_NEGOCIO,COD_PRODUCTO,DESC_PRODUCTO,COD_CURRICULO,DESC_CURRICULO,COD_CURSO,DESC_CURSO,DESC_ABRE_CURSO,clave,COD_DIRECCION,...,CANT_CREDITOS,CANT_CREDEQUIV,FECHA_CREACION,USUARIO_CREACION,FECHA_MODIFICACION,USUARIO_MODIFICACION,TOTAL CRED,REQUISITO,REQUISITO PYTHON,Ruta Critica
1,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),AM130,ADVERTISING MANAGEMENT,ADVERTISING MANAGEMENT,45AM130,AM,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,(AM75 Marketing o 120 créditos aprobados),AM75,NaN
2,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),HU543,COMPRENSIÓN Y PRODUCCIÓN DE LENGUAJE I,COMP Y PROD LENG I,45HU543,HU,...,4,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,4,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,NaN
3,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),HU548,ÉTICA Y CIUDADANÍA,ÉTICA Y CIUDADANÍA,45HU548,HU,...,2,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,2,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,NaN
7,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),MA420,MATEMÁTICA BÁSICA,MATEMÁTICA BÁSICA,45MA420,MA,...,6,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,6,(MA638 Nivelación de Matemática o haber sido e...,MA638,NaN
8,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),MA465,QUÍMICA,QUÍMICA,45MA465,MA,...,4,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,4,(MA638 Nivelación de Matemática o haber sido e...,MA638,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),TR197,CHINO BÁSICO 3,CHINO BÁSICO 3,45TR197,TR,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,TR196 Chino Básico 2,TR196,NaN
228,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),TR223,ENGLISH COMPOSITION 2,ENGLISH COMPOSITION 2,45TR223,TR,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,TR222 English Composition 1,TR222,NaN
230,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),TR240,FRANCÉS BÁSICO 2,FRANCÉS BÁSICO 2,45TR240,TR,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,TR224 Francés Básico 1,TR224,NaN
232,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),TR222,ENGLISH COMPOSITION 1,ENGLISH COMPOSITION 1,45TR222,TR,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,TR281 Academic Writing,TR281,NaN
234,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),TR285,LATÍN 2,LATÍN 2,45TR285,TR,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,TR282 Latín,TR282,NaN

In [49]:
cursos_malla45 = cursos_curricula[cursos_curricula['COD_CURRICULO'] == 45][['COD_CURSO', 'REQUISITO PYTHON']]

In [50]:
cursos_malla45

    COD_CURSO REQUISITO PYTHON
1       AM130             AM75
2       HU543            HU546
3       HU548            HU546
7       MA420            MA638
8       MA465            MA638
..        ...              ...
226     TR197            TR196
228     TR223            TR222
230     TR240            TR224
232     TR222            TR281
234     TR285            TR282

[123 rows x 2 columns]

In [51]:
cursos_malla45.COD_CURSO.values

array(['AM130', 'HU543', 'HU548', 'MA420', 'MA465', 'IN158', 'IN347',
       'IN344', 'IN345', 'IN346', 'IN348', 'AD185', 'AD687', 'AH66',
       'AH67', 'HU522', 'IN349', 'IN335', 'IN336', 'IN337', 'IN150',
       'IN333', 'IN334', 'IN155', 'IN330', 'IN406', 'IN407', 'IN181',
       'IN186', 'IN187', 'IN149', 'IN185', 'IN183', 'IN338', 'IN340',
       'IN341', 'AD688', 'TR282', 'TR195', 'AD690', 'AH53', 'AD691',
       'TR224', 'TR189', 'HU187', 'HU51', 'IN184', 'IN339', 'HU469',
       'AH57', 'IN322', 'AD689', 'AM132', 'AM131', 'AM134', 'AM133',
       'HU544', 'HU159', 'DE440', 'HU473', 'HU372', 'HU374', 'HU375',
       'HU394', 'HU373', 'IN397', 'TR281', 'IN315', 'IN343', 'IN396',
       'IN176', 'IN318', 'IN324', 'IN216', 'IN328', 'IN323', 'IN325',
       'IN326', 'IN223', 'IN327', 'IN320', 'IN329', 'IN213', 'IN45',
       'IN316', 'IN395', 'IN46', 'IN342', 'IN321', 'MA263', 'MA466',
       'MA145', 'MA264', 'IN319', 'MA262', 'MA642', 'EF40', 'MA462',
       'IN317', 'HU546', 'MA638', 'MA652', 'HU193', 'IN142', 'IN219',
       'IN398', 'IN226', 'IN227', 'IN228', 'IN229', 'IN230', 'IN231',
       'IN232', 'IN233', 'IN234', 'TR190', 'TR191', 'TR196', 'TR197',
       'TR223', 'TR240', 'TR222', 'TR285'], dtype=object)

In [52]:
cursos_malla45['REQUISITO PYTHON'].values

array(['AM75', 'HU546', 'HU546', 'MA638', 'MA638', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'AD688', 'AM106;AM117', 'AM106;AM117', 'AM130',
       'AM132;AM131', 'HU543', 'HU543', 'HU61', 'HU61', 'HU61', 'HU61',
       'HU61', 'HU61', 'HU61', 'HU61', 'HU61', 'IN142', 'IN176',
       'IN176;IN395', 'IN219', 'IN315', 'IN317', 'IN319', 'IN321',
       'IN322', 'IN322', 'IN323', 'IN323', 'IN324', 'IN342', 'IN342',
       'IN396', 'IN397;IN326', 'IN398', 'IN398', 'IN45', 'MA145', 'MA145',
       'MA262', 'MA262;MA652', 'MA262;MA642', 'MA263', 'MA264;MA462',
       'MA420', 'MA420', 'MA420', 'MA466', 'MA466', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'TR189', 'TR190', 'TR195', 'TR196', 'TR222', 'TR224', 'TR281',
       'TR282'], dtype=object)

In [53]:
final_requisitos_cursos = []
for requisitos in cursos_malla45['REQUISITO PYTHON'].values:
    if pd.isnull(requisitos):
        continue
    final_requisitos_cursos.extend(requisitos.split(';'))

In [54]:
final_requisitos_cursos

['AM75',
 'HU546',
 'HU546',
 'MA638',
 'MA638',
 'AD688',
 'AM106',
 'AM117',
 'AM106',
 'AM117',
 'AM130',
 'AM132',
 'AM131',
 'HU543',
 'HU543',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'IN142',
 'IN176',
 'IN176',
 'IN395',
 'IN219',
 'IN315',
 'IN317',
 'IN319',
 'IN321',
 'IN322',
 'IN322',
 'IN323',
 'IN323',
 'IN324',
 'IN342',
 'IN342',
 'IN396',
 'IN397',
 'IN326',
 'IN398',
 'IN398',
 'IN45',
 'MA145',
 'MA145',
 'MA262',
 'MA262',
 'MA652',
 'MA262',
 'MA642',
 'MA263',
 'MA264',
 'MA462',
 'MA420',
 'MA420',
 'MA420',
 'MA466',
 'MA466',
 'TR189',
 'TR190',
 'TR195',
 'TR196',
 'TR222',
 'TR224',
 'TR281',
 'TR282']

In [55]:
cursos_malla45['REQUISITO PYTHON'].value_counts()

HU61           9
MA420          3
HU546          2
IN342          2
MA145          2
IN398          2
IN323          2
IN322          2
MA638          2
HU543          2
AM106;AM117    2
MA466          2
AD688          1
MA262          1
IN321          1
TR189          1
MA262;MA652    1
IN142          1
TR224          1
MA262;MA642    1
IN176          1
TR281          1
IN315          1
TR195          1
TR196          1
TR222          1
IN397;IN326    1
IN219          1
IN319          1
IN45           1
TR282          1
AM130          1
AM132;AM131    1
MA263          1
MA264;MA462    1
AM75           1
IN176;IN395    1
IN317          1
IN396          1
IN324          1
TR190          1
Name: REQUISITO PYTHON, dtype: int64

In [56]:
import numpy as np

In [57]:
# requisitos_values = list(cursos_malla45['REQUISITO PYTHON'].values)
contar_requisitos_cursos = []
for curso_cod in cursos_malla45.COD_CURSO.values:    
    count = final_requisitos_cursos.count(curso_cod)
    print(curso_cod, count)
    contar_requisitos_cursos.append(count)

AM130 1
HU543 2
HU548 0
MA420 3
MA465 0
IN158 0
IN347 0
IN344 0
IN345 0
IN346 0
IN348 0
AD185 0
AD687 0
AH66 0
AH67 0
HU522 0
IN349 0
IN335 0
IN336 0
IN337 0
IN150 0
IN333 0
IN334 0
IN155 0
IN330 0
IN406 0
IN407 0
IN181 0
IN186 0
IN187 0
IN149 0
IN185 0
IN183 0
IN338 0
IN340 0
IN341 0
AD688 1
TR282 1
TR195 1
AD690 0
AH53 0
AD691 0
TR224 1
TR189 1
HU187 0
HU51 0
IN184 0
IN339 0
HU469 0
AH57 0
IN322 2
AD689 0
AM132 1
AM131 1
AM134 0
AM133 0
HU544 0
HU159 0
DE440 0
HU473 0
HU372 0
HU374 0
HU375 0
HU394 0
HU373 0
IN397 1
TR281 1
IN315 1
IN343 0
IN396 1
IN176 2
IN318 0
IN324 1
IN216 0
IN328 0
IN323 2
IN325 0
IN326 1
IN223 0
IN327 0
IN320 0
IN329 0
IN213 0
IN45 1
IN316 0
IN395 1
IN46 0
IN342 2
IN321 1
MA263 1
MA466 2
MA145 2
MA264 1
IN319 1
MA262 3
MA642 1
EF40 0
MA462 1
IN317 1
HU546 2
MA638 2
MA652 1
HU193 0
IN142 1
IN219 1
IN398 2
IN226 0
IN227 0
IN228 0
IN229 0
IN230 0
IN231 0
IN232 0
IN233 0
IN234 0
TR190 1
TR191 0
TR196 1
TR197 0
TR223 0
TR240 0
TR222 1
TR285 0

In [58]:
print(len(contar_requisitos_cursos))
print(len(cursos_malla45.COD_CURSO.values))

123
123

In [59]:
cursos_malla45['RUTA_CRITICA'] = contar_requisitos_cursos

In [94]:
cursos_malla45[cursos_malla45.COD_CURSO == 'MA262']

    COD_CURSO REQUISITO PYTHON  RUTA_CRITICA
180     MA262            MA420             3

In [61]:
cursos_malla43 = cursos_curricula[cursos_curricula['COD_CURRICULO'] == 43][['COD_CURSO', 'REQUISITO PYTHON']]

In [62]:
cursos_malla43

    COD_CURSO REQUISITO PYTHON
424     IN349              NaN
426     MA393              NaN
427      MA95              NaN
428      HU24              NaN
429     HU316              NaN
..        ...              ...
543     IN340              NaN
544     IN341              NaN
545     IN346              NaN
546     IN347              NaN
547     IN348              NaN

[123 rows x 2 columns]

In [63]:
cursos_malla43['REQUISITO PYTHON'].unique()

array([nan], dtype=object)

In [64]:
cursos_malla44 = cursos_curricula[cursos_curricula['COD_CURRICULO'] == 44][['COD_CURSO', 'REQUISITO PYTHON']]

In [65]:
cursos_malla44

    COD_CURSO REQUISITO PYTHON
0       AM130             AM75
4       HU543            HU546
5       HU548            HU546
6       HU187            HU546
9       IN142            MA638
..        ...              ...
225     TR197            TR196
227     TR223            TR222
229     TR240            TR224
231     TR222            TR281
233     TR285            TR282

[112 rows x 2 columns]

In [66]:
cursos_malla44['REQUISITO PYTHON'].unique()

array(['AM75', 'HU546', 'MA638', nan, 'AD688', 'AM106;AM117', 'AM130',
       'AM132;AM131', 'HU543', 'HU61', 'HU61;IN179', 'IN134',
       'IN142;MA420', 'IN147', 'IN160', 'IN170', 'IN171', 'IN175;IN147',
       'IN176', 'IN176;IN395', 'IN177', 'IN178', 'IN179', 'IN195;IN218',
       'IN214', 'IN216;IN97;IN397', 'IN217', 'IN217;IN45', 'IN219',
       'IN219;MA145', 'IN396', 'IN396;IN215', 'IN398', 'IN399',
       'IN58;IN213', 'IN92', 'IN93', 'IN96', 'IN97', 'MA145', 'MA262',
       'MA262;MA652', 'MA263', 'MA264;MA462', 'MA420', 'MA466', 'MA642',
       'TR189', 'TR190', 'TR195', 'TR196', 'TR222', 'TR224', 'TR281',
       'TR282'], dtype=object)

In [67]:
final_requisitos_malla44 = []
for requisitos in cursos_malla44['REQUISITO PYTHON'].values:
    if pd.isnull(requisitos):
        continue
    final_requisitos_malla44.extend(requisitos.split(';'))

In [68]:
# requisitos_values = list(cursos_malla45['REQUISITO PYTHON'].values)
contar_requisitos_malla44 = []
for curso_cod in cursos_malla44.COD_CURSO.values:    
    count = final_requisitos_malla44.count(curso_cod)
    print(curso_cod, count)
    contar_requisitos_malla44.append(count)

AM130 1
HU543 2
HU548 0
HU187 0
IN142 1
MA420 3
MA465 0
AD185 0
AD687 0
AH66 0
AH67 0
HU522 0
AD688 1
AD690 0
AD691 0
AH53 0
TR189 1
TR282 1
TR195 1
TR224 1
IN219 3
HU308 0
HU469 0
HU508 0
AH57 0
AD689 0
AM131 1
AM132 1
AM134 0
AM133 0
HU544 0
HU159 0
DE440 0
HU372 0
HU373 0
HU374 0
HU375 0
HU394 0
HU473 0
TR281 1
IN397 1
IN218 1
IN170 2
IN160 1
IN137 0
IN171 1
IN398 1
IN214 1
IN179 2
IN178 1
IN396 2
IN134 1
IN216 1
IN195 1
IN196 0
IN175 1
IN45 1
IN158 0
IN46 0
IN176 2
IN215 1
IN147 2
IN213 1
IN58 1
IN395 1
IN177 1
IN97 11
IN96 1
IN217 2
IN93 1
IN149 0
IN150 0
IN183 0
IN184 0
IN185 0
IN187 0
IN155 0
IN181 0
IN186 0
IN223 0
IN92 1
MA263 1
MA642 1
MA466 1
MA264 1
IN399 1
MA262 3
EF40 0
MA462 1
MA145 2
IN230 0
IN233 0
IN234 0
HU546 3
MA638 3
MA652 1
HU193 0
HU51 0
IN226 0
IN227 0
IN228 0
IN229 0
IN231 0
IN232 0
TR190 1
TR191 0
TR196 1
TR197 0
TR223 0
TR240 0
TR222 1
TR285 0

In [69]:
print(len(contar_requisitos_malla44))
print(len(cursos_malla44.COD_CURSO.values))

112
112

In [70]:
cursos_malla44['RUTA_CRITICA'] = contar_requisitos_malla44

In [71]:
cursos_malla44

    COD_CURSO REQUISITO PYTHON  RUTA_CRITICA
0       AM130             AM75             1
4       HU543            HU546             2
5       HU548            HU546             0
6       HU187            HU546             0
9       IN142            MA638             1
..        ...              ...           ...
225     TR197            TR196             0
227     TR223            TR222             0
229     TR240            TR224             0
231     TR222            TR281             1
233     TR285            TR282             0

[112 rows x 3 columns]

In [72]:
cursos_malla45 = cursos_curricula[cursos_curricula['COD_CURRICULO'] == 45][['COD_CURSO', 'REQUISITO PYTHON']]

In [73]:
cursos_malla45

    COD_CURSO REQUISITO PYTHON
1       AM130             AM75
2       HU543            HU546
3       HU548            HU546
7       MA420            MA638
8       MA465            MA638
..        ...              ...
226     TR197            TR196
228     TR223            TR222
230     TR240            TR224
232     TR222            TR281
234     TR285            TR282

[123 rows x 2 columns]

In [74]:
cursos_malla45['REQUISITO PYTHON'].unique()

array(['AM75', 'HU546', 'MA638', nan, 'AD688', 'AM106;AM117', 'AM130',
       'AM132;AM131', 'HU543', 'HU61', 'IN142', 'IN176', 'IN176;IN395',
       'IN219', 'IN315', 'IN317', 'IN319', 'IN321', 'IN322', 'IN323',
       'IN324', 'IN342', 'IN396', 'IN397;IN326', 'IN398', 'IN45', 'MA145',
       'MA262', 'MA262;MA652', 'MA262;MA642', 'MA263', 'MA264;MA462',
       'MA420', 'MA466', 'TR189', 'TR190', 'TR195', 'TR196', 'TR222',
       'TR224', 'TR281', 'TR282'], dtype=object)

In [75]:
final_requisitos_malla45 = []
for requisitos in cursos_malla45['REQUISITO PYTHON'].values:
    if pd.isnull(requisitos):
        continue
    final_requisitos_malla45.extend(requisitos.split(';'))

In [76]:
final_requisitos_malla45

['AM75',
 'HU546',
 'HU546',
 'MA638',
 'MA638',
 'AD688',
 'AM106',
 'AM117',
 'AM106',
 'AM117',
 'AM130',
 'AM132',
 'AM131',
 'HU543',
 'HU543',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'HU61',
 'IN142',
 'IN176',
 'IN176',
 'IN395',
 'IN219',
 'IN315',
 'IN317',
 'IN319',
 'IN321',
 'IN322',
 'IN322',
 'IN323',
 'IN323',
 'IN324',
 'IN342',
 'IN342',
 'IN396',
 'IN397',
 'IN326',
 'IN398',
 'IN398',
 'IN45',
 'MA145',
 'MA145',
 'MA262',
 'MA262',
 'MA652',
 'MA262',
 'MA642',
 'MA263',
 'MA264',
 'MA462',
 'MA420',
 'MA420',
 'MA420',
 'MA466',
 'MA466',
 'TR189',
 'TR190',
 'TR195',
 'TR196',
 'TR222',
 'TR224',
 'TR281',
 'TR282']

In [77]:
# requisitos_values = list(cursos_malla45['REQUISITO PYTHON'].values)
contar_requisitos_malla45 = []
for curso_cod in cursos_malla45.COD_CURSO.values:    
    count = final_requisitos_malla45.count(curso_cod)
    print(curso_cod, count)
    contar_requisitos_malla45.append(count)

AM130 1
HU543 2
HU548 0
MA420 3
MA465 0
IN158 0
IN347 0
IN344 0
IN345 0
IN346 0
IN348 0
AD185 0
AD687 0
AH66 0
AH67 0
HU522 0
IN349 0
IN335 0
IN336 0
IN337 0
IN150 0
IN333 0
IN334 0
IN155 0
IN330 0
IN406 0
IN407 0
IN181 0
IN186 0
IN187 0
IN149 0
IN185 0
IN183 0
IN338 0
IN340 0
IN341 0
AD688 1
TR282 1
TR195 1
AD690 0
AH53 0
AD691 0
TR224 1
TR189 1
HU187 0
HU51 0
IN184 0
IN339 0
HU469 0
AH57 0
IN322 2
AD689 0
AM132 1
AM131 1
AM134 0
AM133 0
HU544 0
HU159 0
DE440 0
HU473 0
HU372 0
HU374 0
HU375 0
HU394 0
HU373 0
IN397 1
TR281 1
IN315 1
IN343 0
IN396 1
IN176 2
IN318 0
IN324 1
IN216 0
IN328 0
IN323 2
IN325 0
IN326 1
IN223 0
IN327 0
IN320 0
IN329 0
IN213 0
IN45 1
IN316 0
IN395 1
IN46 0
IN342 2
IN321 1
MA263 1
MA466 2
MA145 2
MA264 1
IN319 1
MA262 3
MA642 1
EF40 0
MA462 1
IN317 1
HU546 2
MA638 2
MA652 1
HU193 0
IN142 1
IN219 1
IN398 2
IN226 0
IN227 0
IN228 0
IN229 0
IN230 0
IN231 0
IN232 0
IN233 0
IN234 0
TR190 1
TR191 0
TR196 1
TR197 0
TR223 0
TR240 0
TR222 1
TR285 0

In [92]:
cursos_malla45[cursos_malla45.COD_CURSO == "MA262"]

    COD_CURSO REQUISITO PYTHON  RUTA_CRITICA
180     MA262            MA420             3

In [79]:
cursos_malla45['RUTA_CRITICA'] = contar_requisitos_malla45

In [80]:
cursos_malla45

    COD_CURSO REQUISITO PYTHON  RUTA_CRITICA
1       AM130             AM75             1
2       HU543            HU546             2
3       HU548            HU546             0
7       MA420            MA638             3
8       MA465            MA638             0
..        ...              ...           ...
226     TR197            TR196             0
228     TR223            TR222             0
230     TR240            TR224             0
232     TR222            TR281             1
234     TR285            TR282             0

[123 rows x 3 columns]

In [ ]:
cursos_malla45[]

In [81]:
cursos_curricula

,COD_LINEA_NEGOCIO,COD_PRODUCTO,DESC_PRODUCTO,COD_CURRICULO,DESC_CURRICULO,COD_CURSO,DESC_CURSO,DESC_ABRE_CURSO,clave,COD_DIRECCION,...,CANT_CREDITOS,CANT_CREDEQUIV,FECHA_CREACION,USUARIO_CREACION,FECHA_MODIFICACION,USUARIO_MODIFICACION,TOTAL CRED,REQUISITO,REQUISITO PYTHON,Ruta Critica
0,U,3310004,INGENIERÍA INDUSTRIAL,44,Curricula 2020-00,AM130,ADVERTISING MANAGEMENT,ADVERTISING MANAGEMENT,44AM130,AM,...,3,0,2019-10-08 13:38:35,TMONDRAG,NaT,NaN,3,(AM75 Marketing o 120 créditos aprobados),AM75,NaN
1,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),AM130,ADVERTISING MANAGEMENT,ADVERTISING MANAGEMENT,45AM130,AM,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,(AM75 Marketing o 120 créditos aprobados),AM75,NaN
2,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),HU543,COMPRENSIÓN Y PRODUCCIÓN DE LENGUAJE I,COMP Y PROD LENG I,45HU543,HU,...,4,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,4,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,NaN
3,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),HU548,ÉTICA Y CIUDADANÍA,ÉTICA Y CIUDADANÍA,45HU548,HU,...,2,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,2,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,NaN
4,U,3310004,INGENIERÍA INDUSTRIAL,44,Curricula 2020-00,HU543,COMPRENSIÓN Y PRODUCCIÓN DE LENGUAJE I,COMP Y PROD LENG I,44HU543,HU,...,4,0,2019-10-08 13:33:41,TMONDRAG,2020-02-18 18:21:33,CPANTA,4,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,HU522,LA INEVITABLE GLOBALIZACIÓN,LA INEVITABLE GLOBALIZACI,41HU522,HU,...,3,0,2019-04-04 18:28:36,MZAVALA,NaT,NaN,3,NaN,NaN,NaN
549,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,TR240,FRANCÉS BÁSICO 2,FRANCÉS BÁSICO 2,41TR240,TR,...,3,0,2017-07-21 17:23:28,JAGUILAR,NaT,NaN,3,NaN,NaN,NaN
550,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,HU469,DEPORTE Y POLÍTICA,DEPORTE Y POLÍTICA,41HU469,HU,...,3,0,2018-02-02 11:31:04,JAGUILAR,NaT,NaN,3,NaN,NaN,NaN
551,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,DE440,AMERICAN GOVERNMENT,AMERICAN GOVERNMENT,41DE440,DE,...,2,0,2017-07-05 10:33:42,MZAVALA,NaT,NaN,2,NaN,NaN,NaN
552,U,3310004,INGENIERÍA INDUSTRIAL,42,201502 - LU(desactivada),IN97,LOGÍSTICA INTEGRADA Y CADENA DE ABASTECIMIENTOS,LOGÍSTICA INTEGRADA Y CAD,42IN97,IN,...,4,0,2016-05-02 14:27:06,EDALVARE,2019-10-10 16:43:12,JOLIVARE,4,NaN,NaN,NaN

In [82]:
cursos_curricula.loc[cursos_malla45.index.tolist()]['CONTADOR_REQUISITOS'] = contar_requisitos_cursos

In [83]:
cursos_curricula

,COD_LINEA_NEGOCIO,COD_PRODUCTO,DESC_PRODUCTO,COD_CURRICULO,DESC_CURRICULO,COD_CURSO,DESC_CURSO,DESC_ABRE_CURSO,clave,COD_DIRECCION,...,CANT_CREDITOS,CANT_CREDEQUIV,FECHA_CREACION,USUARIO_CREACION,FECHA_MODIFICACION,USUARIO_MODIFICACION,TOTAL CRED,REQUISITO,REQUISITO PYTHON,Ruta Critica
0,U,3310004,INGENIERÍA INDUSTRIAL,44,Curricula 2020-00,AM130,ADVERTISING MANAGEMENT,ADVERTISING MANAGEMENT,44AM130,AM,...,3,0,2019-10-08 13:38:35,TMONDRAG,NaT,NaN,3,(AM75 Marketing o 120 créditos aprobados),AM75,NaN
1,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),AM130,ADVERTISING MANAGEMENT,ADVERTISING MANAGEMENT,45AM130,AM,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,(AM75 Marketing o 120 créditos aprobados),AM75,NaN
2,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),HU543,COMPRENSIÓN Y PRODUCCIÓN DE LENGUAJE I,COMP Y PROD LENG I,45HU543,HU,...,4,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,4,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,NaN
3,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),HU548,ÉTICA Y CIUDADANÍA,ÉTICA Y CIUDADANÍA,45HU548,HU,...,2,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,2,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,NaN
4,U,3310004,INGENIERÍA INDUSTRIAL,44,Curricula 2020-00,HU543,COMPRENSIÓN Y PRODUCCIÓN DE LENGUAJE I,COMP Y PROD LENG I,44HU543,HU,...,4,0,2019-10-08 13:33:41,TMONDRAG,2020-02-18 18:21:33,CPANTA,4,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,HU522,LA INEVITABLE GLOBALIZACIÓN,LA INEVITABLE GLOBALIZACI,41HU522,HU,...,3,0,2019-04-04 18:28:36,MZAVALA,NaT,NaN,3,NaN,NaN,NaN
549,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,TR240,FRANCÉS BÁSICO 2,FRANCÉS BÁSICO 2,41TR240,TR,...,3,0,2017-07-21 17:23:28,JAGUILAR,NaT,NaN,3,NaN,NaN,NaN
550,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,HU469,DEPORTE Y POLÍTICA,DEPORTE Y POLÍTICA,41HU469,HU,...,3,0,2018-02-02 11:31:04,JAGUILAR,NaT,NaN,3,NaN,NaN,NaN
551,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,DE440,AMERICAN GOVERNMENT,AMERICAN GOVERNMENT,41DE440,DE,...,2,0,2017-07-05 10:33:42,MZAVALA,NaT,NaN,2,NaN,NaN,NaN
552,U,3310004,INGENIERÍA INDUSTRIAL,42,201502 - LU(desactivada),IN97,LOGÍSTICA INTEGRADA Y CADENA DE ABASTECIMIENTOS,LOGÍSTICA INTEGRADA Y CAD,42IN97,IN,...,4,0,2016-05-02 14:27:06,EDALVARE,2019-10-10 16:43:12,JOLIVARE,4,NaN,NaN,NaN

In [84]:
cursos_curricula['Ruta Critica'] = np.zeros(cursos_curricula.shape[0])

In [85]:
cursos_curricula

,COD_LINEA_NEGOCIO,COD_PRODUCTO,DESC_PRODUCTO,COD_CURRICULO,DESC_CURRICULO,COD_CURSO,DESC_CURSO,DESC_ABRE_CURSO,clave,COD_DIRECCION,...,CANT_CREDITOS,CANT_CREDEQUIV,FECHA_CREACION,USUARIO_CREACION,FECHA_MODIFICACION,USUARIO_MODIFICACION,TOTAL CRED,REQUISITO,REQUISITO PYTHON,Ruta Critica
0,U,3310004,INGENIERÍA INDUSTRIAL,44,Curricula 2020-00,AM130,ADVERTISING MANAGEMENT,ADVERTISING MANAGEMENT,44AM130,AM,...,3,0,2019-10-08 13:38:35,TMONDRAG,NaT,NaN,3,(AM75 Marketing o 120 créditos aprobados),AM75,0.0
1,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),AM130,ADVERTISING MANAGEMENT,ADVERTISING MANAGEMENT,45AM130,AM,...,3,0,2019-10-08 15:11:20,TMONDRAG,NaT,NaN,3,(AM75 Marketing o 120 créditos aprobados),AM75,0.0
2,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),HU543,COMPRENSIÓN Y PRODUCCIÓN DE LENGUAJE I,COMP Y PROD LENG I,45HU543,HU,...,4,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,4,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,0.0
3,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),HU548,ÉTICA Y CIUDADANÍA,ÉTICA Y CIUDADANÍA,45HU548,HU,...,2,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,2,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,0.0
4,U,3310004,INGENIERÍA INDUSTRIAL,44,Curricula 2020-00,HU543,COMPRENSIÓN Y PRODUCCIÓN DE LENGUAJE I,COMP Y PROD LENG I,44HU543,HU,...,4,0,2019-10-08 13:33:41,TMONDRAG,2020-02-18 18:21:33,CPANTA,4,(HU546 Nivelación de Lenguaje o haber sido exo...,HU546,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,HU522,LA INEVITABLE GLOBALIZACIÓN,LA INEVITABLE GLOBALIZACI,41HU522,HU,...,3,0,2019-04-04 18:28:36,MZAVALA,NaT,NaN,3,NaN,NaN,0.0
549,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,TR240,FRANCÉS BÁSICO 2,FRANCÉS BÁSICO 2,41TR240,TR,...,3,0,2017-07-21 17:23:28,JAGUILAR,NaT,NaN,3,NaN,NaN,0.0
550,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,HU469,DEPORTE Y POLÍTICA,DEPORTE Y POLÍTICA,41HU469,HU,...,3,0,2018-02-02 11:31:04,JAGUILAR,NaT,NaN,3,NaN,NaN,0.0
551,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,DE440,AMERICAN GOVERNMENT,AMERICAN GOVERNMENT,41DE440,DE,...,2,0,2017-07-05 10:33:42,MZAVALA,NaT,NaN,2,NaN,NaN,0.0
552,U,3310004,INGENIERÍA INDUSTRIAL,42,201502 - LU(desactivada),IN97,LOGÍSTICA INTEGRADA Y CADENA DE ABASTECIMIENTOS,LOGÍSTICA INTEGRADA Y CAD,42IN97,IN,...,4,0,2016-05-02 14:27:06,EDALVARE,2019-10-10 16:43:12,JOLIVARE,4,NaN,NaN,0.0

In [86]:
cursos_curricula.loc[cursos_malla44.index.tolist(), 'Ruta Critica'] = contar_requisitos_malla44

In [87]:
cursos_curricula.loc[cursos_malla45.index.tolist(), 'Ruta Critica'] = contar_requisitos_malla45

In [95]:
cursos_curricula[cursos_curricula.COD_CURSO == 'MA262']

,COD_LINEA_NEGOCIO,COD_PRODUCTO,DESC_PRODUCTO,COD_CURRICULO,DESC_CURRICULO,COD_CURSO,DESC_CURSO,DESC_ABRE_CURSO,clave,COD_DIRECCION,...,CANT_CREDITOS,CANT_CREDEQUIV,FECHA_CREACION,USUARIO_CREACION,FECHA_MODIFICACION,USUARIO_MODIFICACION,TOTAL CRED,REQUISITO,REQUISITO PYTHON,Ruta Critica
180,U,3310004,INGENIERÍA INDUSTRIAL,45,Curricula 2020-00 (Ingresantes),MA262,CÁLCULO I,CÁLCULO I,45MA262,MA,...,6,0,2019-10-08 15:05:23,TMONDRAG,2020-02-18 18:19:54,CPANTA,6,MA420 Matemática Básica,MA420,3.0
182,U,3310004,INGENIERÍA INDUSTRIAL,44,Curricula 2020-00,MA262,CÁLCULO I,CÁLCULO I,44MA262,MA,...,6,0,2019-10-08 13:33:41,TMONDRAG,2020-02-18 18:21:33,CPANTA,6,MA420 Matemática Básica,MA420,3.0
249,U,3310004,INGENIERÍA INDUSTRIAL,42,201502 - LU(desactivada),MA262,CÁLCULO I,CÁLCULO I,42MA262,MA,...,6,0,2016-05-02 14:27:05,EDALVARE,2018-06-07 16:25:07,MVALLE,6,NaN,NaN,0.0
341,U,3310004,INGENIERÍA INDUSTRIAL,41,201502 - LU,MA262,CÁLCULO I,CÁLCULO I,41MA262,MA,...,6,0,2015-05-21 18:34:32,LLEAU,NaT,NaN,6,NaN,NaN,0.0
435,U,3310004,INGENIERÍA INDUSTRIAL,43,Malla Nueva Ingresantes 201902,MA262,CÁLCULO I,CÁLCULO I,43MA262,MA,...,6,0,2019-06-05 07:49:06,JAGUILAR,2019-06-05 07:52:57,JAGUILAR,6,NaN,NaN,0.0

In [90]:
cursos_curricula.to_csv('cursos_curricula_requisitos.csv', sep=';')

In [89]:
cursos_curricula.to_excel(r'curricula_ruta_critica.xlsx', index = False)

ModuleNotFoundError: No module named 'openpyxl'